.Carros {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 25%;
    background-color: #EBEBEB;
    overflow-y: auto;
    color: black;
}

.carrosTitulos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0 0px 0
}

.TituloCarros {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-left: 24rem;
}

.TituloHR {
    background-color: black;
    height: 2px;
    margin: 0 70px;
}

.CarrosHR {
    background-color: black;
    height: 2px;
    width: 35%;
}

.CarrosPv {
    display: flex;
    justify-content: start;
    font-size: 36px;
    padding: 150px 0 0px 20px;
}

.CarrosPv a {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-left: 100px;
}

.CarrosPv a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TituloCarrosPv {
    font-weight: 600;
}

.CarrosSeg {
    display: flex;
    justify-content: start;
    font-size: 36px;
    padding: 150px 0 0px 20px;
}

.CarrosSeg a {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-left: 100px;
}

.CarrosSeg a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TituloCarrosSeg {
    font-weight: 600;
}


/* adicao de carros */
.CarrosList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 100px;
    margin: 30px;
}

.BoxAddCarro {
    width: 325px;
    height: 545px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 35px;
    border: solid 2px black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.397);
    transition: 0.2s;
}

.BoxAddCarro:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
}

.BoxAddCarro a img {
    width: 90px;
    height: 90px;
    transition: 0.2s;
}

.BoxAddCarro a img:hover {
    scale: 1.1;
    transition: 0.2s;
}

/* Lista de carros adicionados */
.BoxCarrosList {
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 25px;
    border: solid 2px black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.397);
    transition: 0.2s;
}

.BoxCarrosList:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
}

.BoxCarrosList img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
}

.TitleCarrosList {
    text-align: center;
    font-size: 30px;
    padding-bottom: 1px;
    letter-spacing: 1.6px;
}

.ConteudoCarrosList {
    margin: 3px 0;
    font-size: 17px;
    font-weight: normal;
}

.ButtonsAlignCarrosList {
    display: flex;
    justify-content: center;
}

.ButtonsAlignCarrosList button {
    cursor: pointer;
    font-family: "Lalezar", serif;
    font-weight: 400;
    font-style: normal;
    margin: 12px 10px 0px 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: white;
}

.DetalhesCarrosList {
    background-color: #2300BD;
    transition: 0.2s;
}

.EditarCarrosList {
    background-color: #ff0f2f;
    transition: 0.2s;
}

.DetalhesCarrosList:hover {
    scale: 1.1;
}

.EditarCarrosList:hover {
    scale: 1.1;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
}

.filtro-btn {
  background-color: #041c83;
  color: white;
  padding: 8px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 10px 12px;
  font-size: 18px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}