/* Css do slide carrossel */
.sliderImagens {
    /* ele centraliza */
    margin: 35px auto;
    max-width: 100%;
    height: auto;
    /* ele bloqueia qualquer formatação em outro lugar tipo mobile e etc */
    padding: 0 !important;
    border-bottom: solid 1px #ccc;
    overflow: hidden;
}

.modal-Image-slide {
    display: flex;
    width: 400%;
    height: auto;
    position: relative;
    padding-bottom: 40px;
}

.modal-Image-slide input {
    display: none;
}

.slider-box-image {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1.2s;
}

.slider-box-image img {
    width: 35%;
}

.navigationManual,
.navigationAuto {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 25%;
    bottom: 13px;
    padding-top: 20px;
}

.navigationManual .manual-btn,
.navigationAuto div {
    border: 2px solid #191a1f;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

/* Todos com o filtro menos o ultimo "Filho" */
.navigationManual .manual-btn:not(:last-child),
.navigationAuto div:not(:last-child) {
    margin-right: 10px;
}

.navigationManual .manual-btn:hover {
    background-color: #191a1f;
}

#radio1:checked~.navigationAuto .auto-btn1 {
    background-color: #191a1f;
}

#radio1:checked~.primeiroSlide {
    margin-left: 0%;
}

#radio2:checked~.navigationAuto .auto-btn2 {
    background-color: #191a1f;
}

#radio2:checked~.primeiroSlide {
    margin-left: -25%;
}

#radio3:checked~.navigationAuto .auto-btn3 {
    background-color: #191a1f;
}

#radio3:checked~.primeiroSlide {
    margin-left: -50%;
}

#radio4:checked~.navigationAuto .auto-btn4 {
    background-color: #191a1f;
}

#radio4:checked~.primeiroSlide {
    margin-left: -75%;
}