.Inicio {
    flex-grow: 1;
    margin-left: 25%;
    background-color: #EBEBEB;
    overflow-y: auto;
    color: black;
}

.TituloInicio {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    padding: 50px 0 0px 0;
}

.TituloHR {
    background-color: black;
    height: 2px;
    margin: 0 70px;
}

.ConteudoExpressao {
    display: block;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.OutAlign {
    display: flex;
    justify-content: space-between;
}

.MesAno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 0px 0px 100px;
}

.MesAnoMiddle {
    padding-left: 220px;
}

.MesAnoTitle {
    font-size: 40px;
}

.MesAnoAlign select {
    color: #3b3b3b;
    text-align: start;
    font-family: "Lalezar", serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.8px;
    padding: 2px 80px 2px 7px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #BBBBBB;
}

.MesAnoAlign select:focus {
    outline: none;
    border-color: #555;
}

.ButaoSearch {
    all: unset;
    cursor: pointer;
    background-color: #104386;
    color: #d4d4d4;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 350px;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.514);
}

.ButaoExtract {
    all: unset;
    cursor: pointer;
    background-color: #a7a7a7;
    color: #191919;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 12px 25px;
    margin: 100px 30px 35px 30px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.514);
    transition: background-color 0.5s, color 0.5s;
}

.ButaoExtract:hover {
    background-color: #191919;
    color: #d4d4d4;
}