.Inicio {
    flex-grow: 1;
    margin-left: 25%;
    background-color: #EBEBEB;
    overflow-y: auto;
    color: black;
}

.TituloInicio {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    padding: 50px 0 0px 0;
}

.TituloHR {
    background-color: black;
    height: 2px;
    margin: 0 70px;
}

.ConteudoExpressao {
    display: block;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.OutAlign {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 16rem;
}

.ButaoExtract {
    all: unset;
    cursor: pointer;
    background-color: #3d037f;
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 12px 25px;
    margin: 100px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.514);
    transition: 0.5s;
}

.ButaoExtract:hover {
    background-color: #191919;
    color: #d4d4d4;
    scale: 1.2;
}